name: Build Proxy

on:
  push:
    branches:
      - master
    paths:
      - '**.yml'
      - proxy/**
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  VERSION: 0.2.0

jobs:
  prepare:
    runs-on: ubuntu-latest

    steps:
    - uses: jcs-actions/delete-tag-and-release@master
      if: github.ref == 'refs/heads/master'
      continue-on-error: true
      with:
        delete_release: true
        tag_name: ${{ env.VERSION }}
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}

  build:
    needs: [prepare]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - target: linux-arm64
          ext: tar.gz
          exe:
        - target: linux-x64
          ext: tar.gz
          exe:
        - target: macos-arm64
          ext: tar.gz
          exe:
        - target: macos-x64
          ext: tar.gz
          exe:
        - target: win-arm64
          ext: zip
          exe: .exe
        - target: win-x64
          ext: zip
          exe: .exe

    steps:
    - uses: actions/checkout@v6

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install --assume-yes qemu-user-binfmt

    - uses: MOZGIII/install-ldid-action@master
      with:
        tag: v2.1.5-procursus7

    - name: Preparing...
      working-directory: proxy
      run: npm install --include=dev

    - name: Building...
      working-directory: proxy
      run: npm run-script pkg-${{ matrix.target }}

    - name: Prepare content...
      working-directory: proxy
      run: |
        mkdir dist
        mv LICENSE dist
        mv README.md dist
        mv ../bin/ellsp${{ matrix.exe }} dist

    - name: Change permissions (Unix)
      if: contains(fromJSON('["tar.gz"]'), matrix.ext)
      run: |
        chmod -R 777 ./bin/
        chmod -R 777 ./dist

    - name: Tar dist (Unix)
      if: contains(fromJSON('["tar.gz"]'), matrix.ext)
      working-directory: proxy
      run: |
        tar czf ${{ matrix.target }}.${{ matrix.ext }} -C ./dist/ .
        cp ${{ matrix.target }}.${{ matrix.ext }} ellsp_${{ matrix.target }}.${{ matrix.ext }}

    - name: Zipping dist (Windows)
      if: contains(fromJSON('["zip"]'), matrix.ext)
      working-directory: proxy/dist
      run: |
        zip -r ${{ matrix.target }}.${{ matrix.ext }} .
        mv ${{ matrix.target }}.${{ matrix.ext }} ../
        cd ..
        cp ${{ matrix.target }}.${{ matrix.ext }} ellsp_${{ matrix.target }}.${{ matrix.ext }}

    - name: Upload for prerelease
      if: github.ref == 'refs/heads/master'
      uses: ncipollo/release-action@v1.20.0
      with:
        token: ${{ secrets.PAT }}
        tag: ${{ env.VERSION }}
        allowUpdates: true
        prerelease: true
        draft: false
        artifacts: proxy/ellsp_${{ matrix.target }}.${{ matrix.ext }}

    #### Upload an artifact for testing purposes

    - name: Upload for tests
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.target }}
        path: proxy/ellsp_${{ matrix.target }}.${{ matrix.ext }}
